<!-- views/pad.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Markdown Editor</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>

<body>
    <section class="top">
        <div class="upload">
            <form id="upload_form" method="post" enctype="multipart/form-data">
                <input type=file name=uploadFile id=uploadFile />
                <input type=hidden name=pass />
            </form>
        </div>
        <div class="commands">
            <span><a href=# id="toggle-menu">SAVE</a></span>
            <span><a href=# id="toggle-commit">COMMIT</a></span>
        </div>
    </section>

    <section class="row">
        <textarea class="col-md-6 full-height" id="pad"><%= content %></textarea>
        <div class="col-md-6 full-height" id="markdown"></div>
    </section>

  <div id="menu">
    <div class="menu-title">Save to Server</div>
    <div id="saveas-markdown">
      <input type=password class=pass id=pass>
    </div>
    <a class="close" id="close-menu">&times;</a>
  </div>

  <div id="commit">
    <div class="menu-title">Commit to Server</div>
    <div id="request-commit">
      <input type=password class=pass id=commit_pass>
    </div>
    <a class="close" id="close-commit">&times;</a>
  </div>

    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="/script.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="./jquery.form.js"></script>
    <input type="hidden" id="filename" value="<%= filename %>">
</body>
</html>